p {
    background-color: hotpink;
    width: 100px;
    height: 100px;
}

#box {
    background-color: antiquewhite;
}

.box {
    background-color: orange;
}
p[name="tiger"]{
    background-color: black;
    transition: all 1s;
}


p[name="tiger"]:hover {
    background-color: yellowgreen;
    transform: translateX(30px) rotate(360deg);
}

